<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Product App</title>
</head>
<body ng-app="myApp">

    <div ng-controller="myCtrl">
        <h2>All Products</h2>
        <ul id="products" />
        {{value}}
    </div>
    <div>
        <h2>Search by ID</h2>
        <input type="text" id="prodId" size="5" />
        <input type="button" value="Search" onclick="find();" />
        <p id="product" />
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope,$http) {

            $http.get("http://localhost:63548/api/products").success(function (result) {
                $scope.data = result;
                console.log($scope.data)
            })

        })

    </script>
</body>
</html>